{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
<h4>Nombre d'article : {{ countarticle }}</h4>
                {% for art in showarticle %}

                    <div class="article">
                        <a href="#"><h3>{{ art.title }}</h3></a>

                        <ul class="list-unstyled list-inline">
                            <li><i class="fa fa-calendar"></i> {{ art.creationdate|date("d/m/Y") }}</li>
                        </ul>

                        <div class="article-content">

                            {{ art.content|truncate(600) }} <a href="#">Voir plus</a>

                        </div>

                    </div>

                {% else %}
                    No articles have been found.
                {% endfor %}

            </div>

        </div>

    </div>

{% endblock %}
